@media only screen and (min-width: 64em ) {
    nav ul li
    {
        float: left;
    }
    
    nav ul li a
    {
        display: block;
        padding: .6rem 1rem;
    }
    
    img.sunny
    {
        max-width: 50%;
    }
    
            h3.Summaryheader
    {
        font-size: 3em;
    }
    
  }