@media only screen and (min-width: 37.5em) 
{

    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    section.weather-summary 
    {
        text-align: center;
    }  /* show the 10-day forecast with the medium view and up */
    
    nav {
        background-color: #3AAFA9;
    }
    
    nav ul.hide {display:block;}
    
    nav ul li
    {
        float: left;
        display: block;
    }
    
    nav ul li a
    {
        padding: .8rem 1rem;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }
    
    section.forecast
    {
        display: contents;
    }
    
    img.sunny
    {
        float: right;
        max-width: 40%;
        margin-bottom: 50px;
    }
    
    img.coolimage
    {
        width: 30%;
        float: left;
        margin-left: 2%;
        margin-right: .5%;
    }
    
    br.contactbreak
    {
        display: none;
    }
    
    table
    {
        margin-left: auto;
        margin-right: auto;
        clear: right;
        margin-bottom: 50px;
    }
    
        h2.forecastheader
    {
        clear: right;
    }
    
    h3.Summaryheader
    {
        font-size: 2em;
    }
    
    main 
    {
        margin-top: 50px;
        clear: both;
    }
    
    footer
    {
        width: 100%;
    }

  }